<%= return if native_app? %>

<nav class="navbar navbar-expand-sm fixed-top bg-body-tertiary">
  <div class="container<%= " d-flex justify-content-between" if native_app? %>">
    <% if native_app? %>
      <div style="width: 40px;">
        <%= native_back_button_tag class: "nav-link p-0" %>
      </div>

      <span class="navbar-brand mb-0"><%= content_for(:title).presence || "Bookmarks" %></span>
    <% else %>
      <%= link_to "Bookmarks", user_signed_in? ? links_path : root_path, class: "navbar-brand" %>
    <% end %>

    <% unless native_app? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% end %>

    <div class="<%= native_app? ? "" : "collapse navbar-collapse" %>" id="navbar">
      <% if user_signed_in? && !native_app? %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Links", links_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Tags", tags_path, class: "nav-link" %>
          </li>

        </ul>
      <% end %>

      <% if user_signed_in? %>
        <div class="nav-item dropdown<%= " ms-auto" unless native_app? %>">
          <a class="nav-link p-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">User menu</span>
            <span class="bi bi-person-circle"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to current_user.email, profile_path, class: "dropdown-item text-body-secondary" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Sign out", session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Sign in", new_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
