<% content_for :title, "Create an account" %>

<div class="container d-flex flex-column mw-400 mx-auto">
  <% unless native_app? %>
    <h1 class="h3 my-4 mx-auto">
      Create an account
    </h1>
  <% end %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p class="alert-heading fw-semibold mb-1">Please fix these issues:</p>
      <ul class="mb-0">
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, url: registration_path, class: "row g-3 mt-1", data: native_form_data do |form| %>
    <div>
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, autocomplete: "name", class: "form-control" %>
    </div>

    <div>
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>

    <div>
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div>
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div>
      <%= form.submit "Create account", class: "btn btn-primary w-100", data: native_submit_data.merge(bridge_title: "Register") %>
    </div>
  <% end %>

  <p class="text-center mt-3">
    Already have an account? <%= link_to "Sign in", new_session_path, data: { turbo_action: "replace" } %>
  </p>
</div>
