<% content_for :title, "Sign in" %>

<div class="container d-flex flex-column mw-400 mx-auto">
  <% unless native_app? %>
    <h1 class="h3 my-4 mx-auto">
      Sign in to your account
    </h1>
  <% end %>

  <%= form_with url: session_path, class: "row g-3 mt-1", data: native_form_data do |form| %>
    <div>
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email,
        autocomplete: "email",
        class: "form-control",
        value: (Rails.env.development? ? "user@example.com" : nil) %>
    </div>

    <div>
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password,
        autocomplete: "current-password",
        class: "form-control",
        value: (Rails.env.development? ? "password" : nil) %>
    </div>

    <div>
      <%= form.submit "Sign in", class: "btn btn-primary w-100", data: native_submit_data %>
    </div>
  <% end %>

  <p class="text-center mt-3">
    Don't have an account? <%= link_to "Create an account", new_registration_path, data: { turbo_action: "replace" } %>
  </p>
</div>
