<% if user_signed_in? %>
  <%= native_menu_tag(title: current_user.email, side: :left) do |menu| %>
    <%= menu.item "Profile", profile_path %>
    <%= menu.item "Sign out", session_path, method: :delete, destructive: true %>
  <% end %>
<% end %>

<%= render "shared/header", title: "Tags" %>

<% if @tags.any? %>
  <div class="container list-group list-group-flush px-0">
    <% @tags.each do |tag| %>
      <%= link_to tag, class: "list-group-item list-group-item-action py-3 d-flex justify-content-between align-items-center" do %>
        <span class="text-body"><%= tag.name %></span>
        <span class="badge border text-secondary rounded-pill"><%= tag.links_count %></span>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="container">No tags yet. Add tags to your links to organize them.</p>
<% end %>
