<%= link_to link, class: "list-group-item list-group-item-action py-3 py-md-4" do %>
  <div class="row align-items-top">
    <div class="col pe-0">
      <h2 class="h5 text-body"><%= link.title %></h2>

      <p class="text-body-secondary small mb-1"><%= link.url %></p>

      <% if link.description.present? %>
        <p class="line-clamp-2 text-body-secondary mb-1"><%= link.description %></p>
      <% end %>

      <% if link.tags.any? %>
        <div class="d-flex gap-1 flex-wrap mt-2">
          <% link.tags.each do |tag| %>
            <span class="badge border text-secondary"><%= tag.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col d-md-none flex-grow-0 flex-shrink-1 px-2 my-auto">
      <i class="bi bi-chevron-right text-body-tertiary"></i>
    </div>
  </div>
<% end %>
