<% if user_signed_in? %>
  <%= native_menu_tag(title: current_user.email, side: :left) do |menu| %>
    <%= menu.item "Profile", profile_path %>
    <%= menu.item "Sign out", session_path, method: :delete, destructive: true %>
  <% end %>
<% end %>

<%= render "shared/header", title: "Links" %>

<% if @links.any? %>
  <div class="container list-group list-group-flush px-0">
    <%= render @links %>
  </div>
<% else %>
  <p class="container">No links saved yet.</p>
<% end %>

<div class="container mt-4">
  <%= native_button_tag "Add a link", new_link_path, ios_image: "plus", class: "btn btn-primary" %>
</div>
