<%= render "shared/header", title: "Search" %>

<div data-controller="search" data-action="bridge--search:queried->search#queried">
  <%= native_search_tag %>

  <div class="container">
    <%= form_with url: search_path, method: :get, data: { search_target: "form", turbo_frame: "search_results", turbo_action: "replace" } do |f| %>
      <% unless native_app? %>
        <div class="mt-4">
          <%= f.search_field :query, value: @query, placeholder: "Search links...", class: "form-control", autocomplete: "off", data: { search_target: "input", action: "input->search#input" } %>
        </div>
      <% else %>
        <%= f.hidden_field :query, value: @query, data: { search_target: "input" } %>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag "search_results", target: "_top" do %>
    <% if @query.present? %>
      <% if @links.any? %>
        <div class="container list-group list-group-flush px-0">
          <%= render @links %>
        </div>
      <% else %>
        <p class="container text-body-secondary mt-4">No results found for "<%= @query %>".</p>
      <% end %>
    <% else %>
      <p class="container text-body-secondary mt-4">Search your links by title, URL, description, or tag.</p>
    <% end %>
  <% end %>
</div>
